/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3 {
    color: #333;
}

p {
    color: #70747a;
}

/* Navbar */
.navbar-container {
    width: 100%;
    height: 80px;
    background-color: #6724a0;
    padding: 0 2rem;
}

nav {
    position: relative;
}

.navbar-container img {
    margin-top: 15px;
    width: 50px;
}

.navbar-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.navbar-items a:hover {
    color: #d18016;
}

.navbar-items .default-btn {
    padding: 10px 15px;
    background: #d18016;
    border-radius: 3px;
    font-weight: 700;
    width: 10%;
    transition: .2s;
}

.navbar-items .default-btn:hover {
    padding: 10px 20px;
    background: #a83279;
    color: #FFF;
    font-size: 20px;
}

/* Main Banner */
.main-banner {
    background-image: url('../img/mainbanner.jpg');
    background-size: cover;
    background-position: center;
    padding: 7rem 0;
    height: 360px;
}

.main-banner h1,
.main-banner p {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: #000000af 5px 3px 3px;
}

/* Serviços */
.services-container {
    background-color: #FFF;
    padding: 5rem 0;
}

.services-container ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li {
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.services-container img {
    width: 100px;
    margin-bottom: 15px;
    transition: .2s;
}

.services-container img:hover {
    width: 140px;
}

.services-container h3 {
    margin-bottom: 25px;
}

.services-container p {
    line-height: 24px;
}

/* Planos */
.pricing-container {
    padding-bottom: 5rem;
    text-align: center;
}

.pricing-container h2 {
    font-size: 36px;
}

.pricing-container p {
    font-size: 20px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}

.plan {
    flex: 1;
    max-width: 275px;
}

.plan ul {
    padding: 0;
}

.plan li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #f7f2ff;
    color: #333;
}

.plan .price {
    width: 120px;
    height: 120px;
    border-radius: 20%;
    background-color: #6724a0;
    color: #FFF;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.plan .plan-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    background-color: #ff8741;
    border-radius: 5px;
    padding: 50px 0;
}

.plan .plan-btn {
    background-color: #a83279;
    border-radius: 5px;
    color: #FFF;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
    transition: .2s;
}

.plan .plan-btn:hover {
    color: #d18016;
    font-size: 26px;
}

.plan .recommended {
    background-color: #00ff0d;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.plan .recommended:hover {
    color: #333;
}

/* Search domain */
.searchdomain-container {
    background-color: #6724a0;
    text-align: center;
    padding: 5rem 0;
    border-radius: 3px auto;
}

.searchdomain-container h2 {
    color: #FFF;
    font-size: 42px;
    margin-bottom: 15px;
}

.searchdomain-container p {
    color: #D5D5D5;
    font-size: 24px;
    margin-bottom: 25px;
}

.searchdomain-container input {
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.searchdomain-container input[type="text"] {
    width: 50%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
    outline: none;
}

.searchdomain-container input[type="submit"] {
    background-color: #d18016;
    padding: 15px 30px;
    color: #FFF;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
}

.searchdomain-container input[type="submit"]:hover {
    background-color: #a83279;
    font-size: 26px;
}

/* Contact Form */
.contact-container {
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.contact-container h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.contact-container p {
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input,
.contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #D5D5D5;
    margin: 0 10px 20px;
    outline: none;
}

.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 400px;
    height: 160px;
}

.contact-container input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #d18016;
    color: #FFF;
    cursor: pointer;
    border: none;
    transition: .2s;
    font-size: 18px;
    font-weight: 600;
    width: 120px;
    height: 40px;
}

.contact-container input[type="submit"]:hover {
    width: 140px;
    height: 50px;
    font-size: 20px;
    background-color: #a83279;
}

/* Footer */
footer {
    font-size: 14px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    background-color: #ffffff;
    margin-top: 50px;
}

/* Responsividade */

/* Small Laptops a partir de 110px */
@media (max-width: 1100px) {
    .plans-container {
        width: 95%;
    }

    .plan {
        margin: 0 5px;
    }
}

/* Tablet 900px */
@media (max-width: 900px) {
    .main-banner p {
        padding: 0 6rem;
    }

    .searchdomain-container {
        padding: 2rem 4rem;
    }
}

/* Celular */
@media (max-width: 576px) {

    html,
    body {
        overflow-x: hidden;
    }

    .navbar-container {
        width: 100%;
        height: 80px;
        background-color: #6724a0;
        padding: 0px 1rem;
    }

    .navbar-container img {
        margin-right: 200px;
        width: 50px;
    }

    .navbar-items li {
        margin-left: 10px;
    }

    .main-banner {
        padding: 8rem 0rem;
    }

    .main-banner h1 {
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        text-transform: uppercase;
        text-align: center;
        text-shadow: #000000af 5px 3px 3px;
    }

    .main-banner p {
        font-size: 20px;
    }

    .services-container ul {
        flex-direction: column;
    }

    .plans-container {
        flex-direction: column;
        width: 100%;
        padding: 0px 5rem;
        gap: 50px;
    }

    .plan {
        width: 100%;
        max-width: 100;
    }

    .searchdomain-container h2 {
        font-size: 28px;
    }

    .searchdomain-container input[type="text"] {
        width: 91%;
        padding: 20px;
        font-size: 20px;
        margin-bottom: 25px;
        outline: none;
    }

    .searchdomain-container input[type="submit"] {
        background-color: #d18016;
        padding: 15px 15px;
        color: #FFF;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        cursor: pointer;
        transition: .2s;
    }

    .contact-container {
        padding: 3rem 2rem;
    }

    .contact-container input,
    .contact-container textarea {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 375px) {
    .navbar-items li a {
        font-size: 13px;
    }  
}